absl-py==0.12.0
astor==0.8.1
bert-score==0.3.9
bpemb==0.3.3
cached-property==1.5.2
captum==0.3.1
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cycler==0.10.0
datasets==1.2.0
decorator==4.4.2
Deprecated==1.2.12
dill==0.3.3
docopt==0.6.2
editdistance==0.5.3
filelock==3.0.12
flair==0.6.1.post1
fsspec==2021.4.0
ftfy==6.0.1
future==0.18.2
gast==0.2.2
gdown==3.13.0
gensim==4.0.1
google-pasta==0.2.0
grpcio==1.37.1
h5py==3.1.0
huggingface-hub==0.0.8
hyperopt==0.2.5
idna==2.10
imageio==2.9.0
importlib-metadata==3.10.1
Janome==0.4.1
joblib==1.0.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
konoha==4.6.4
langdetect==1.0.8
language-tool-python==2.5.3
lemminflect==0.2.2
lime==0.2.0.1
lru-dict==1.1.7
lxml==4.6.3
Markdown==3.3.4
more-itertools==8.7.0
mpld3==0.3
multiprocess==0.70.11.1
networkx==2.5.1
nltk==3.6.2
numpy==1.19.2
num2words==0.5.10
olefile==0.46
opt-einsum==3.3.0
overrides==3.1.0
packaging==20.9
pandas==1.1.5
protobuf==3.16.0
pyarrow==4.0.0
PySocks==1.7.1
pytz==2021.1
PyWavelets==1.1.1
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.4.1
segtok==1.5.10
sentencepiece==0.1.95
six==1.16.0
smart-open==5.0.0
sphinx-markdown-tables==0.0.15
sqlitedict==1.7.0
tabulate==0.8.9
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-hub==0.12.0
termcolor==1.1.0
terminaltables==3.1.0
threadpoolctl==2.1.0
tifffile==2020.9.3
tokenizers==0.8.1rc2
torch==1.8.1
tornado
tqdm==4.49.0
transformers==3.3.0
typing-extensions==3.10.0.0
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
word2number==1.1
wrapt==1.12.1
xxhash==2.0.2
zipp==3.4.1